@model CarRentApp.Domain.Models.RentalVehicle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RentalVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumRentalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumRentalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumRentalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumRentalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRentalRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRentalRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
